{# src/Stsbl/AdvancedPrivilegeBundle/Resources/views/MultipleAssign/index.html.twig #}
{% extends "IServAdminBundle::page.html.twig" %}

{% form_theme multipleAssignForm _self %}
{% form_theme multipleRevokeForm _self %}
{% form_theme multipleOwnerForm _self %}

{% block _assign_pattern_row %}
    <div class="form-group" id="multiple-assign-form-group-pattern">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-10">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}

{% block _revoke_pattern_row %}
    <div class="form-group" id="multiple-revoke-form-group-pattern">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-10">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}

{% block _owner_pattern_row %}
    <div class="form-group" id="multiple-owner-form-group-pattern">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-10">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}

{% block page_title %}
    {{ _('Advanced privilege assignment') }} - {{ _('Privileges') }}
{% endblock %}

{% block content %}
    <div class="output pt">
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _('Set an owner for multiple groups') }}</h3>
        </div>
        <div class="panel-body">
            {{ form(multipleOwnerForm) }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _('Assign a privilege or group flag to multiple groups') }}</h3>
        </div>
        <div class="panel-body">
            {{ form(multipleAssignForm) }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _('Revoke a privilege or group flag from multiple groups') }}</h3>
        </div>
        <div class="panel-body">
            {{ form(multipleRevokeForm) }}
        </div>
    </div>
    <div id="multiple-confirm" class="modal fade in" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ _('Apply changes') }}</h4>
                </div>
                <div class="modal-body">
                    <p>{{ _("Do you really want to apply the changes on the IServ group management? Careless settings could destroy the required privilege assignment for productive working.") }}</p>
                    <div class="form-group">
                        <button type="submit" id="multiple-confirm-approve" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> {{ _('Apply') }}</button>&nbsp;
                        <button type="submit" id="multiple-confirm-cancel" data-dismiss="modal" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> {{ _('Cancel') }}</button>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% if app.environment != 'prod' %}
        <!-- {{ _self }} => adv_priv.js -->
    {% endif %}
    <script type="text/javascript" src="{{ asset('js/adv_priv.js', 'stsbl-advanced-privilege') }}"></script>
{% endblock %}