{# src/Stsbl/AdvancedPrivilegeBundle/Resources/views/MultipleAssign/index.html.twig #}
{% extends "IServAdminBundle::page.html.twig" %}

{% form_theme multipleAssignForm _self %}
{% form_theme multipleRevokeForm _self %}
{% form_theme multipleOwnerForm _self %}

{% block _assign_pattern_row %}
    <div class="form-group" id="multiple-assign-form-group-pattern">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-10">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}

{% block _revoke_pattern_row %}
    <div class="form-group" id="multiple-revoke-form-group-pattern">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-10">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}

{% block _owner_pattern_row %}
    <div class="form-group" id="multiple-owner-form-group-pattern">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-10">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% if app.environment != 'prod' %}
	<!-- {{ _self }} => adv_priv.js -->
    {% endif %}
    {% javascripts output='js/compiled/adv_priv.js' filter='?uglifyjs2' '@StsblAdvancedPrivilegeBundle/Resources/public/js/adv_priv.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block page_title %}
    {{ _('Advanced privilege assignment') }} - {{ _('Privileges') }}
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _('Set an owner for multiple groups') }}</h3>
        </div>
        <div class="panel-body">
            {{ form(multipleOwnerForm) }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _('Assign a privilege or group flag to multiple groups') }}</h3>
        </div>
        <div class="panel-body">
            {{ form(multipleAssignForm) }}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ _('Revoke a privilege or group flag from multiple groups') }}</h3>
        </div>
        <div class="panel-body">
            {{ form(multipleRevokeForm) }}
        </div>
    </div>
{% endblock %}