{# src/Stsbl/AdvancedPrivilegeBundle/Resources/views/MultipleAssign/index.html.twig #}
{% extends "IServAdminBundle::page.html.twig" %}
{% form_theme multiple_assign_form _self %}

{% block _form_pattern_row %}
    <div class="form-group" id="multiple-assign-form-group-pattern">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-10">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% if app.environment != 'prod' %}
	<!-- {{ _self.templateName }} => adv_priv.js -->
    {% endif %}
    {% javascripts output='js/compiled/adv_priv.js' filter='?uglifyjs2' '@StsblAdvancedPrivilegeBundle/Resources/public/js/adv_priv.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block page_title %}
    {{ _('Advanced privilege assignment') }} - {{ _('Privileges') }}
{% endblock %}

{% block content %}
    <h1>{{ _('Assign a privilege or group flag to multiple groups') }}</h1>
    {{ form(multiple_assign_form) }}
{% endblock %}